<html>
  <head></head>
  <body>
    <table>
      <thead>
        <tr>
          <% s = size.to_i-1 %>
          <% while s >= 0%>
            <th><%= s %></th>
            <% s -= 1 %> 
          <% end %>
          <th id="and" scope="col">AND</th>
          <th id="or" scope="col">OR</th>
          <th id="nand" scope="col">NAND</th>
          <th id="nor" scope="col">NOR</th>
          <th id="xor" scope="col">XOR</th>
          <th id="single" scope="col">SINGLE</th>
        </tr>
      </thead>
      <tbody>
        <% table = const_array(ts, fs, size) %>
        <% truth_table = const_tru_table(size) %>
        <% n = 0 %>
        <% while n < 2 ** size.to_i %>
          <tr>
            <% i = 0 %>
            <% while i < size.to_i %>
              <td><%= table[n][i] %></td>
              <% i += 1 %>
            <% end %>
            <td><%= display_and(truth_table, n, ts, fs, size)%></td>
            <td><%= display_or(truth_table, n, ts, fs, size)%></td>
            <td><%= display_nand(truth_table, n, ts, fs, size)%></td>
            <td><%= display_nor(truth_table, n, ts, fs, size)%></td>
            <td><%= display_xor(truth_table, n, ts, fs, size)%></td>
            <td><%= display_single(truth_table, n, ts, fs, size)%></td>
          </tr>
          <% n += 1 %>
        <% end %>
      </tbody>
    </table>
    <a href="/">Back to main page</a>
    <form>
      <input type="hidden" name="ts" value="<%= ts %>">
      <input type="hidden" name="fs" value="<%= fs %>">
      <input type="hidden" name="size" value="<%= size %>">
      <input type="text" name="name" />
      <input type='submit' value='Save' />
    </form>
  </body>
</html>
  